<nav>
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </a>
  @if (!auth.isLoggedIn()) {
    <a routerLink="/login" routerLinkActive="active">Login</a>
  }

  @if (auth.isLoggedIn()) {
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
    <button (click)="logout()">Logout</button>
  }
</nav>
